MS_SQL_USER='sa'
MS_SQL_KEY='МОЙ_ПАРОЛЬ'
MS_SQL_SERVER='localhost\SQLEXPRESS'
MS_SQL_DATABASE='WEB513ShelterFBV'
MS_SQL_PAD_DATABASE='pad_database'
MS_SQL_DRIVER='ODBC Driver 17 for SQL Server'
NONE_VALUE=NONE